<nb-card>
  <nb-card-header>
    {{exercise.id}}
    <button nbButton outline status="primary" (click)="emitOnEdit()"><nb-icon icon="edit-2-outline"></nb-icon></button>
  </nb-card-header>
  <nb-card-body>
    <div>{{exercise.audio}}</div>

    <div>{{exercise.audioQuestion}}</div>

    <div>
      {{exercise.check}}
<!--      <span *ngFor="let checkWord of exercise.check">-->
<!--        {{checkWord}}-->
<!--      </span>-->
    </div>

    <div>
      {{exercise.givenWords}}
<!--      <span *ngFor="let givenWord of exercise.givenWords">-->
<!--        <span *ngIf="givenWord != ''">{{givenWord}} </span>-->
<!--        <span *ngIf="givenWord == ''">____ </span>-->
<!--      </span>-->
    </div>

    <div>{{exercise.img}}</div>

    <div>
      {{exercise.questions}}
<!--      <span *ngFor="let givenWord of exercise.givenWords">-->
<!--        {{givenWord}}-->
<!--      </span>-->
    </div>
  </nb-card-body>
</nb-card>
