<div *ngFor="let exerciseForm of exerciseForms; let i = index">
  <!--  <app-exercise *ngIf="!exerciseForm.controls.isEdit.value"-->
  <!--                (onEdit)="onEditEvent($event, exercises[i], exerciseForm)"-->
  <!--                [exercise]="exercises[i]"></app-exercise>-->

  <div *ngIf="!exerciseForm.controls.isEdit.value">
    <nb-card>
      <nb-card-header>
        {{exerciseForm.controls.id.value}}
        <button nbButton outline status="primary" (click)="onEdit(exercises[i], exerciseForm)">
          <nb-icon icon="edit-2-outline"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="question-row">
          <div class="question-title">Audio:</div>
          <div class="question-body">
<!--            {{exerciseForm.controls.audio.value}}-->
            <audio controls src="{{exerciseForm.controls.audio.value}}"></audio>
          </div>
          <hr>
        </div>

        <div class="question-title">Audio Question:</div>
        <div class="question-body">
<!--          {{exerciseForm.controls.audioQuestion.value}}-->
          <audio *ngIf="exerciseForm.controls.audioQuestion.value" controls src="{{exerciseForm.controls.audioQuestion.value}}"></audio>
        </div>
        <hr>

        <div class="question-title">CheckWord:</div>
        <div class="question-body">
          <!--        {{exerciseForm.controls.check.value}}-->
          <span *ngFor="let checkWord of exerciseForm.controls.check.value">
                <span *ngIf="checkWord != ''">{{checkWord}} </span>
                <span *ngIf="checkWord == ''">____ </span>
              </span>
        </div>
        <hr>

        <div class="question-title">GivenWord:</div>
        <div class="question-body">
              <span *ngFor="let givenWord of exerciseForm.controls.givenWords.value">
                <span *ngIf="givenWord != ''">{{givenWord}} </span>
                <span *ngIf="givenWord == ''">____ </span>
              </span>
        </div>
        <hr>


        <div class="question-title">Question:</div>
        <div class="question-body">
              <span *ngFor="let question of exerciseForm.controls.questions.value">
                <span *ngIf="question != ''">{{question}} </span>
                <span *ngIf="question == ''">____ </span>
              </span>
        </div>
        <hr>

        <div class="question-title">Image:</div>
        <div class="question-body">
<!--          {{exerciseForm.controls.img.value}}-->
          <img height="100" src="{{exerciseForm.controls.img.value}}" alt="">
        </div>
        <hr>

      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="exerciseForm.controls.isEdit.value">
    <nb-card>
      <nb-card-header>
        {{exercises[i].id}}
        <button nbButton outline status="danger" (click)="toggle(exerciseForm)">
          <nb-icon icon="close-circle-outline"></nb-icon>
        </button>
      </nb-card-header>

      <nb-card-body>
        <form *ngIf="exerciseForm.controls.isEdit.value" [formGroup]="exerciseForm">
          <label>ID: </label>
          <input style="margin: 10px" nbInput fullWidth placeholder="Primary" formControlName="id">

          <label>Audio: </label>
          <input style="margin: 10px" nbInput fullWidth formControlName="audio">
          <input type="file" (change)="uploadAudio($event, exerciseForm)"/>
          <div>{{ uploadAudioPercent | async }}</div>

          <label>AudioQuestion: </label>
          <input style="margin: 10px" nbInput fullWidth formControlName="audioQuestion">
          <input type="file" (change)="uploadAudioQuestion($event, exerciseForm)"/>
          <div>{{ uploadAudioQuestionPercent | async }}</div>

          <div style="margin: 10px" formArrayName="check">
            <label style="margin: 10px; width: 100px; display: inline-block;">To Check: </label>
            <span *ngFor="let check of checkList(exerciseForm).controls; let i = index">
              <input nbInput type="text" [formControlName]="i" style="margin: 10px">
            </span>
            <button nbButton (click)="addCheck(exerciseForm)" style="margin: 10px">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </div>

          <div style="margin: 10px" formArrayName="givenWords">
            <label style="margin: 10px; width: 100px; display: inline-block;">Given Words: </label>
            <span *ngFor="let given of givenWordList(exerciseForm).controls; let i = index">
              <input nbInput type="text" [formControlName]="i" style="margin: 10px">
            </span>
            <button nbButton (click)="addGivenWord(exerciseForm)" style="margin: 10px">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </div>

          <div style="margin: 10px" formArrayName="questions">
            <label style="margin: 10px; width: 100px; display: inline-block;">Question</label>
            <span *ngFor="let question of questionList(exerciseForm).controls; let i = index">
              <input nbInput type="text" [formControlName]="i" style="margin: 10px">
            </span>
            <button nbButton (click)="addQuestion(exerciseForm)" style="margin: 10px">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </div>

          <label>Image: </label>
          <input style="margin: 10px" nbInput fullWidth formControlName="img" disabled>
          <input type="file" (change)="uploadImage($event, exerciseForm)"/>
          <div>{{ uploadPercent | async }}</div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
