<div *ngFor="let exerciseForm of exerciseForms; let i = index">
  <app-exercise *ngIf="!exerciseForm.controls.isEdit.value"
                (onEdit)="onEditEvent($event, exercises[i], exerciseForm)"
                [exercise]="exercises[i]"></app-exercise>

  <div *ngIf="exerciseForm.controls.isEdit.value">
    <nb-card>
      <nb-card-header>
        {{exercises[i].id}}
        <button  nbButton outline status="danger" (click)="toggle(exerciseForm)"><nb-icon icon="close-circle-outline"></nb-icon></button>
      </nb-card-header>

      <nb-card-body>
        <form *ngIf="exerciseForm.controls.isEdit.value" [formGroup]="exerciseForm">
          <input formControlName="id">
          <input formControlName="audio">
          <input formControlName="check">
          <input formControlName="givenWords">
          <input formControlName="img">
          <input formControlName="questions">
        </form>
      </nb-card-body>
    </nb-card>
  </div>


</div>
